<!--
    ioBroker.vis ebus Widget-Set

    version: "0.5.0"

    Copyright 2017,2018 René G. info@rg-engineering.eu
-->
<!-- here you can include so many css as you want -->
<!--<link rel="stylesheet" href="widgets/ebus/css/style.css" /> -->
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/ebus/lib/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="widgets/ebus/lib/js/flot/jquery.flot.time.js"></script>



<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39
-->
<!-- doku for flot : -->
<!--  https://github.com/flot/flot/blob/master/API.md -->

<script type="text/javascript">
    "use strict";



    // add translations for non-edit mode
    $.extend(true, systemDictionary, {
        "ebus": { "en": "ebus", "de": "ebus", "ru": "ebus" },
        "1 second": { "en": "1 second", "de": "1 Sekunde", "ru": "1 ???????" },
        "10 seconds": { "en": "10 seconds", "de": "10 Sekunden", "ru": "10 ??????" },
        "30 seconds": { "en": "30 seconds", "de": "30 Sekunden", "ru": "30 ??????" },
        "1 minute": { "en": "1 minute", "de": "1 Minute", "ru": "1 ??????" },
        "2 minutes": { "en": "2 minutes", "de": "2 Minuten", "ru": "2 ??????" },
        "5 minutes": { "en": "5 minutes", "de": "5 Minuten", "ru": "5 ?????" },
        "10 minutes": { "en": "10 minutes", "de": "10 Minuten", "ru": "10 ?????" },
        "30 minutes": { "en": "30 minutes", "de": "30 Minuten", "ru": "30 ?????" },
        "1 hour": { "en": "1 hour", "de": "1 Stunde", "ru": "1 ???" },
        "2 hours": { "en": "2 hours", "de": "2 Stunden", "ru": "2 ????" },
        "4 hours": { "en": "4 hours", "de": "4 Stunden", "ru": "4 ????" },
        "8 hours": { "en": "8 hours", "de": "8 Stunden", "ru": "8 ?????" },
        "12 hours": { "en": "12 hours", "de": "12 Stunden", "ru": "12 ?????" },
        "24 hours": { "en": "24 hours", "de": "24 Stunden", "ru": "24 ????" },
        "time_interval": { "en": "Time interval", "de": "Zeitintervall", "ru": "????????" },
        "withxaxix": { "en": "show X axis", "de": "zeige X-Achse", "ru": "???" },
        "ebusinstance": { "en": "ebus instance", "de": "ebus Instanz", "ru": "???" },
        "oid_history": { "en": "OID history", "de": "OID history", "ru": "???" },

        "xDateFormat": { "en": "format for date/time on x-axis", "de": "Datum-/Zeitformat X-Achse", "ru": "???" },


        //ab hier noch übersetzen
        "charttypeline": { "en": "charttypeline", "de": "charttypeline", "ru": "charttypeline" },
        "charttypebar": { "en": "charttypebar", "de": "charttypebar", "ru": "charttypebar" },
        "none": { "en": "none", "de": "none", "ru": "none" },
        "kWh": { "en": "kWh", "de": "kWh", "ru": "kWh" },
        "degree": { "en": "degree", "de": "degree", "ru": "degree" },
        "charttypeline": { "en": "charttypeline", "de": "charttypeline", "ru": "charttypeline" },
        "charttypebar": { "en": "charttypebar", "de": "charttypebar", "ru": "charttypebar" },
        "none": { "en": "none", "de": "none", "ru": "none" },
        "kWh": { "en": "kWh", "de": "kWh", "ru": "kWh" },
        "degree": { "en": "degree", "de": "degree", "ru": "degree" },
        "charttypeline": { "en": "charttypeline", "de": "charttypeline", "ru": "charttypeline" },
        "charttypebar": { "en": "charttypebar", "de": "charttypebar", "ru": "charttypebar" },
        "none": { "en": "none", "de": "none", "ru": "none" },
        "kWh": { "en": "kWh", "de": "kWh", "ru": "kWh" },
        "degree": { "en": "degree", "de": "degree", "ru": "degree" },
        "charttypeline": { "en": "charttypeline", "de": "charttypeline", "ru": "charttypeline" },
        "charttypebar": { "en": "charttypebar", "de": "charttypebar", "ru": "charttypebar" },
        "none": { "en": "none", "de": "none", "ru": "none" },
        "kWh": { "en": "kWh", "de": "kWh", "ru": "kWh" },
        "degree": { "en": "degree", "de": "degree", "ru": "degree" },
        "group_graph1": { "en": "group_graph1", "de": "group_graph1", "ru": "group_graph1" },
        "graph1data": { "en": "graph1data", "de": "graph1data", "ru": "graph1data" },
        "graph1charttype": { "en": "graph1charttype", "de": "graph1charttype", "ru": "graph1charttype" },
        "graph1visible": { "en": "graph1visible", "de": "graph1visible", "ru": "graph1visible" },
        "graph1color": { "en": "graph1color", "de": "graph1color", "ru": "graph1color" },
        "graph1withyaxix": { "en": "graph1withyaxix", "de": "graph1withyaxix", "ru": "graph1withyaxix" },
        "graph1YAxisFomat": { "en": "graph1YAxisFomat", "de": "graph1YAxisFomat", "ru": "graph1YAxisFomat" },
        "group_graph2": { "en": "group_graph2", "de": "group_graph2", "ru": "group_graph2" },
        "graph2data": { "en": "graph2data", "de": "graph2data", "ru": "graph2data" },
        "graph2charttype": { "en": "graph2charttype", "de": "graph2charttype", "ru": "graph2charttype" },
        "graph2visible": { "en": "graph2visible", "de": "graph2visible", "ru": "graph2visible" },
        "graph2color": { "en": "graph2color", "de": "graph2color", "ru": "graph2color" },
        "graph2withyaxix": { "en": "graph2withyaxix", "de": "graph2withyaxix", "ru": "graph2withyaxix" },
        "graph2YAxisFomat": { "en": "graph2YAxisFomat", "de": "graph2YAxisFomat", "ru": "graph2YAxisFomat" },
        "group_graph3": { "en": "group_graph3", "de": "group_graph3", "ru": "group_graph3" },
        "graph3data": { "en": "graph3data", "de": "graph3data", "ru": "graph3data" },
        "graph3charttype": { "en": "graph3charttype", "de": "graph3charttype", "ru": "graph3charttype" },
        "graph3visible": { "en": "graph3visible", "de": "graph3visible", "ru": "graph3visible" },
        "graph3color": { "en": "graph3color", "de": "graph3color", "ru": "graph3color" },
        "graph3withyaxix": { "en": "graph3withyaxix", "de": "graph3withyaxix", "ru": "graph3withyaxix" },
        "graph3YAxisFomat": { "en": "graph3YAxisFomat", "de": "graph3YAxisFomat", "ru": "graph3YAxisFomat" },
        "group_graph4": { "en": "group_graph4", "de": "group_graph4", "ru": "group_graph4" },
        "graph4data": { "en": "graph4data", "de": "graph4data", "ru": "graph4data" },
        "graph4charttype": { "en": "graph4charttype", "de": "graph4charttype", "ru": "graph4charttype" },
        "graph4visible": { "en": "graph4visible", "de": "graph4visible", "ru": "graph4visible" },
        "graph4color": { "en": "graph4color", "de": "graph4color", "ru": "graph4color" },
        "graph4withyaxix": { "en": "graph4withyaxix", "de": "graph4withyaxix", "ru": "graph4withyaxix" },
        "graph4YAxisFomat": { "en": "graph4YAxisFomat", "de": "graph4YAxisFomat", "ru": "graph4YAxisFomat" }

    });

    function noneFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals);
    }

    function degreeFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals) + "°C";
    }

    function xwFormatter(val, axis) {
        if (val > 1000000)
            return (val / 1000000).toFixed(axis.tickDecimals) + " MWh";
        else if (val > 1000)
            return (val / 1000).toFixed(axis.tickDecimals) + " kWh";
        else
            return val.toFixed(axis.tickDecimals) + " Wh";
    }

    // this code can be placed directly in template.html
    vis.binds.ebus = {
        version: "0.5.0",
        showVersion: function () {
            if (vis.binds.ebus.version) {
                console.log('Version ebus: ' + vis.binds.ebus.version);
                vis.binds.ebus.version = null;
            }
        },
        setup: {
            intervals: {
                '1 second': 1000,
                '10 seconds': 10000,
                '30 seconds': 30000,
                '1 minute': 60000,
                '2 minutes': 120000,
                '5 minutes': 300000,
                '10 minutes': 600000,
                '30 minutes': 1800000,
                '1 hour': 3600000,
                '2 hours': 7200000,
                '4 hours': 14400000,
                '8 hours': 28800000,
                '12 hours': 43200000,
                '24 hours': 86400000
            },

        },
        history: {
            update: function ($div) {
                var data = $div.data('options');

                if (!data.ebusinstance) {
                    console.log("keine instanz " + data.chartType);

                    $div.html("<br> <center> <font color='red'> no instance </font> </center></br>");
                } else {
                    //warum wir das brauchen, verstehe ich noch nicht...
                    //ist eigentlich nur dummy... aber ohne wird plot ganz klein dargestellt ???
                    vis.getHistory(data.oid, {
                        instance: data.ebusinstance,
                        count: 10,
                        aggregate: 'average',
                        start: new Date().getTime(),
                        end: new Date().getTime() + 5000,
                        timeout: 1000
                    }, function (err, result) {
                        var data = $div.data('options');
                        if (err) console.log(err);

                        console.log("ShowChart begin");


                        //parse data
                        var oid_history = data.oid_history;
                        try {
                            var all_data = JSON.parse(vis.states[oid_history + '.val']);
                        } catch (e) {
                            console.warn('parse error [' + e + ']');
                            $div.html("<br> <center> <font color='red'>no data available yet </font> </center></br>");
                            return;
                        }

                        if (typeof all_data == "undefined" || all_data.length < 100) {
                            $div.html("<br> <center> <font color='red'>no data available yet </font> </center></br>");
                            return;
                        }

                        var values_graph1 = [];
                        var maxY_graph = [-99, -99, -99, -99];
                        var minY_graph = [999999, 999999, 999999, 999999];

                        var values_graph2 = [];


                        var values_graph3 = [];


                        var values_graph4 = [];


                        //console.log("data length " + all_data.length);
                        //console.log(JSON.stringify(all_data));
                        for (var i = 0; i < all_data.length; i++) {
                            //console.log(JSON.stringify(all_data[i]));
                            var oVals = all_data[i];

                            var sDate = oVals[0]["date"];
                            var sTime = oVals[0]["time"];

                            var DateArray = sDate.split(".");
                            var TimeArray = sTime.split(":");
                            var hour = TimeArray[0];
                            var minute = TimeArray[1];
                            var day = DateArray[0];
                            var month = DateArray[1];
                            var year = DateArray[2];

                            var oDate = new Date();
                            oDate.setHours(hour);
                            oDate.setMinutes(minute);
                            oDate.setDate(day);
                            oDate.setMonth(month - 1);
                            oDate.setYear(year);


                            for (var n = 1; n < oVals.length; n++) {
                                if (data.graph1data != "unknown") {
                                    var sVal = oVals[n][data.graph1data];
                                    if (typeof sVal != "undefined") {
                                        var sValGraph1 = sVal;
                                        console.log("graph1 "+ sDate + " " + sTime + ": " + sValGraph1);
                                        values_graph1.push([oDate, sValGraph1]);

                                        if (sValGraph1 > maxY_graph[0]) maxY_graph[0] = sValGraph1;
                                        if (sValGraph1 < minY_graph[0]) minY_graph[0] = sValGraph1;
                                    }
                                }

                                if (data.graph2data != "unknown") {
                                    var sVal = oVals[n][data.graph2data];
                                    if (typeof sVal != "undefined") {
                                        var sValGraph2 = sVal;
                                        console.log("graph2 " + sDate + " " + sTime + ": " + sValGraph2);
                                        values_graph2.push([oDate, sValGraph2]);

                                        if (sValGraph2 > maxY_graph[1]) maxY_graph[1] = sValGraph2;
                                        if (sValGraph2 < minY_graph[1]) minY_graph[1] = sValGraph2;
                                    }
                                }

                                if (data.graph3data != "unknown") {
                                    var sVal = oVals[n][data.graph3data];
                                    if (typeof sVal != "undefined") {
                                        var sValGraph3 = sVal;
                                        console.log("graph3 " + sDate + " " + sTime + ": " + sValGraph3);
                                        values_graph3.push([oDate, sValGraph3]);

                                        if (sValGraph3 > maxY_graph[2]) maxY_graph[2] = sValGraph3;
                                        if (sValGraph3 < minY_graph[2]) minY_graph[2] = sValGraph3;
                                    }
                                }

                                if (data.graph4data != "unknown") {
                                    var sVal = oVals[n][data.graph4data];
                                    if (typeof sVal != "undefined") {
                                        var sValGraph4 = sVal;
                                        console.log("graph4 " + sDate + " " + sTime + ": " + sValGraph4);
                                        values_graph4.push([oDate, sValGraph4]);

                                        if (sValGraph4 > maxY_graph[3]) maxY_graph[3] = sValGraph4;
                                        if (sValGraph4 < minY_graph[3]) minY_graph[3] = sValGraph4;
                                    }
                                }
                            }
                        }

                        
                        for (var n = 0; n < 4; n++) {

                            console.log("****** before Graph" + n + " max " + maxY_graph[n] + " min " + minY_graph[n] );

                            var nTemp = parseFloat(maxY_graph[n]);
                            //console.log(nTemp);
                            nTemp = nTemp + 1;
                            //console.log(nTemp);
                            nTemp = nTemp / 10;
                            //console.log(nTemp);
                            maxY_graph[n] = Math.ceil(nTemp) * 10;
                            if (minY_graph[n] >= 0 && minY_graph[n] < 1000) { //only for temperature and pressure values
                                minY_graph[n] = 0;
                            }
                            else if (minY_graph[n] < 0) {
                                var temp1 = Math.abs(minY_graph[n]);

                                minY_graph[n] = Math.ceil((temp1 + 1) / 10) * 10;
                                minY_graph[n] = -1.0 * minY_graph[n];
                            }
                            else {
                                nTemp = parseFloat(minY_graph[n]);
                                //console.log(nTemp);
                                nTemp = nTemp + 1;
                                //console.log(nTemp);
                                nTemp = nTemp / 10;
                                //console.log(nTemp);
                                minY_graph[n] = Math.ceil(nTemp) * 10;
                            }
                            console.log("****** after Graph" + n + "max " + maxY_graph[n] + " min " + minY_graph[n]);
                        }
                        


                        var barwidth = 1000 * 60 * 5; //5 Minuten

                        var Graph1Formatter = noneFormatter;
                        switch (data.graph1YAxisFomat) {
                            case "kWh":
                                Graph1Formatter = xwFormatter;
                                console.log("kWh format");
                                break;
                            case "degree":
                                Graph1Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph1YAxisFomat);
                                break;

                        }

                        var Graph2Formatter = noneFormatter;
                        switch (data.graph2YAxisFomat) {
                            case "kWh":
                                Graph2Formatter = xwFormatter;
                                console.log("kWh format");
                                break;
                            case "degree":
                                Graph2Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph2YAxisFomat);
                                break;

                        }

                        var Graph3Formatter = noneFormatter;
                        switch (data.graph3YAxisFomat) {
                            case "kWh":
                                Graph3Formatter = xwFormatter;
                                console.log("kWh format");
                                break;
                            case "degree":
                                Graph3Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph3YAxisFomat);
                                break;

                        }

                        var Graph4Formatter = noneFormatter;
                        switch (data.graph4YAxisFomat) {
                            case "kWh":
                                Graph4Formatter = xwFormatter;
                                console.log("kWh format");
                                break;
                            case "degree":
                                Graph4Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph4YAxisFomat);
                                break;

                        }


                        $.plot($div,
                            [
                                {
                                    data: data.graph1visible ? values_graph1 : {},
                                    color: data.graph1color,

                                    xaxis: 1,
                                    yaxis: 1,
                                    lines: { show: data.graph1charttype =="charttypeline" },
                                    bars:
                                    {
                                        show: data.graph1charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph2visible ? values_graph2 : {},
                                    color: data.graph2color,

                                    xaxis: 1,
                                    yaxis: 2,
                                    lines: { show: data.graph2charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph2charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph3visible ? values_graph3 : {},
                                    color: data.graph3color,

                                    xaxis: 1,
                                    yaxis: 3,
                                    lines: { show: data.graph3charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph3charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph4visible ? values_graph4 : {},
                                    color: data.graph4color,

                                    xaxis: 1,
                                    yaxis: 4,
                                    lines: { show: data.graph4charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph4charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                }


                            ],
                            {

                                xaxes:
                                [
                                    {
                                        show: data.withxaxix,
                                        mode: "time",
                                        tickLength: 5,
                                        ticks: data.ticksonxaxix > 0 ? parseInt(data.ticksonxaxix, 10) : 5,
                                        timeformat: data.xDateFormat, //"%H:%M",
                                        monthNames: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
                                        color: data.tickscolor,
                                        font: {
                                            color: data.axislabelcolor
                                        },
                                        timezone: "browser"
                                    }

                                ],
                                yaxes:
                                [
                                    {
                                        show: data.graph1visible && data.graph1withyaxix,
                                        max: maxY_graph[0],
                                        min: minY_graph[0],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph1color
                                        },
                                        tickFormatter: Graph1Formatter
                                    },
                                    {
                                        show: data.graph2visible && data.graph2withyaxix,
                                        max: maxY_graph[1],
                                        min: minY_graph[1],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph2color
                                        },
                                        tickFormatter: Graph2Formatter
                                    },
                                    {
                                        show: data.graph3visible && data.graph3withyaxix,
                                        max: maxY_graph[2],
                                        min: minY_graph[2],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph3color
                                        },
                                        tickFormatter: Graph3Formatter
                                    },
                                    {
                                        show: data.graph4visible && data.graph4withyaxix,
                                        max: maxY_graph[3],
                                        min: minY_graph[3],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph4color
                                        },
                                        tickFormatter: Graph4Formatter
                                    }
                                    

                                ],
                                grid:
                                {
                                    //Farben einstellen fehlt noch
                                    backgroundColor: { colors: ["#fff", "#eee"] },
                                    borderWidth: {
                                        top: 1,
                                        right: 1,
                                        bottom: 2,
                                        left: 2
                                    },
                                    //fehlt noch
                                    //markings: nextDay
                                }
                            }
                        );


                    }); //GetHistory
                }
            },
            init: function (el, view, data) {
                var $div = $(el);
                console.log("ebus init");
                var _data = {};
                for (var s in data) {

                    if (s[0] !== '_' && data.hasOwnProperty(s) && typeof data[s] !== 'object' && typeof data[s] !== 'function') {
                        _data[s] = data[s];

                    }
                }
                data = null;
                $div.data('options', _data);

                if (_data.ebusinstance) {

                    //bind to oid to be informed about updates
                    var oid_history = _data.oid_history;
                    console.log("bind " + oid_history);
                    vis.states.bind(oid_history + '.val', function () {
                        vis.binds.ebus.history.update($div);
                    });

                    // update every x seconds
                    if (!vis.editMode) {
                        $div.data('timer', setInterval(function () {
                            vis.binds.ebus.history.update($div);
                        }, parseInt(vis.binds.ebus.setup.intervals[_data.time_interval] / (parseInt(_data.points, 10) || 10), 10)));
                    }

                }
                else {
                    console.log("instance not set ");
                }
                vis.binds.ebus.history.update($div);
                if (vis.editMode) {
                    console.log("flot version " + $.plot.version + " for ebus" );
                }
            },
        },


    };

    if (vis.editMode) {
        vis.binds.ebus.onInstanceChanged = function (widgetID, view, newId, fields) {
            console.log('---------: ' + widgetID + ' - ' + view + ' - ' + newId + ' - ' + fields);

            var changed = [];
            //delete all
            vis.views[view].widgets[widgetID].data.oid_history = "";

            //then copy new values
            if (newId.indexOf("ebus") > -1) {

                //ebus.0.data.history
                console.log('calc new oids');
                vis.views[view].widgets[widgetID].data.oid_history = newId + ".data.history";
                vis.widgets[widgetID].data.oid_hsitory = newId + ".data.history";

                

            }

            /*
            to do
            // fill combo box with existing data points
            //vis.views[view].widgets[widgetID].data.graph1data = "1,2,3";
            //vis.widgets[widgetID].data.graph1data = "1,2,3";

            var strName, strValue;

            for (strName in oVals) {
                strValue = oVals[strName];
                console.log(strName + " " + JSON.stringify(strValue));
            }

            for (prop in oVals) {
                if (oVals.hasOwnProperty(prop)) {
                    console.log("prop " + prop);
                }
            }
            */



            return changed;
        }

    }

    vis.binds.ebus.showVersion();

</script>

<script id="tplEbusShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/ebus/img/Prev_tplebus.png"></img>'
        data-vis-set="ebus"
        data-vis-type="ebus"
        data-vis-name="ebus"
        data-vis-update-style="true"
        data-vis-attrs="ebusinstance/ebus/onInstanceChanged;"
        data-vis-attrs0="time_interval[30 minutes]/select,1 second,10 seconds,30 seconds,1 minute,2 minutes,5 minutes,10 minutes,30 minutes,1 hour,2 hours,4 hours,8 hours,12 hours,24 hours;withxaxix[true]/checkbox;ticksonxaxix[5];axislabelcolor[#ffffff]/color;tickscolor[#ffffff]/color;xDateFormat[%H:%M];"
        data-vis-attrs1="group.graph1;graph1data[unknown];graph1charttype[charttypeline]/select,charttypeline,charttypebar;graph1visible[true]/checkbox;graph1color[#f1f113]/color;graph1withyaxix[true]/checkbox;graph1YAxisFomat[none]/select,none,kWh,degree;"
        data-vis-attrs2="group.graph2;graph2data[unknown];graph2charttype[charttypeline]/select,charttypeline,charttypebar;graph2visible[true]/checkbox;graph2color[#f1f113]/color;graph2withyaxix[true]/checkbox;graph2YAxisFomat[none]/select,none,kWh,degree;"
        data-vis-attrs3="group.graph3;graph3data[unknown];graph3charttype[charttypeline]/select,charttypeline,charttypebar;graph3visible[true]/checkbox;graph3color[#f1f113]/color;graph3withyaxix[true]/checkbox;graph3YAxisFomat[none]/select,none,kWh,degree;"
        data-vis-attrs4="group.graph4;graph4data[unknown];graph4charttype[charttypeline]/select,charttypeline,charttypebar;graph4visible[true]/checkbox;graph4color[#f1f113]/color;graph4withyaxix[true]/checkbox;graph4YAxisFomat[none]/select,none,kWh,degree;"
        data-vis-attrs5="group.oids;oid_history/id;">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:210px; height:170px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el1) -> vis.binds.ebus.history.init(el1, this.view, this.data) %>></div>
    </div>
</script>


