<!--
    ioBroker.vis ebus Widget-Set

    version: "0.5.0"

    Copyright 2017,2018 René G. info@rg-engineering.eu
-->
<!-- here you can include so many css as you want -->
<!--<link rel="stylesheet" href="widgets/ebus/css/style.css" /> -->
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/ebus/lib/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="widgets/ebus/lib/js/flot/jquery.flot.time.js"></script>



<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39
-->
<!-- doku for flot : -->
<!--  https://github.com/flot/flot/blob/master/API.md -->

<script type="text/javascript">
    "use strict";



    // add translations for non-edit mode
    $.extend(true, systemDictionary, {
        "ebus": { "en": "ebus", "de": "ebus", "ru": "ebus" },
        "1 second": { "en": "1 second", "de": "1 Sekunde", "ru": "1 ???????" },
        "10 seconds": { "en": "10 seconds", "de": "10 Sekunden", "ru": "10 ??????" },
        "30 seconds": { "en": "30 seconds", "de": "30 Sekunden", "ru": "30 ??????" },
        "1 minute": { "en": "1 minute", "de": "1 Minute", "ru": "1 ??????" },
        "2 minutes": { "en": "2 minutes", "de": "2 Minuten", "ru": "2 ??????" },
        "5 minutes": { "en": "5 minutes", "de": "5 Minuten", "ru": "5 ?????" },
        "10 minutes": { "en": "10 minutes", "de": "10 Minuten", "ru": "10 ?????" },
        "30 minutes": { "en": "30 minutes", "de": "30 Minuten", "ru": "30 ?????" },
        "1 hour": { "en": "1 hour", "de": "1 Stunde", "ru": "1 ???" },
        "2 hours": { "en": "2 hours", "de": "2 Stunden", "ru": "2 ????" },
        "4 hours": { "en": "4 hours", "de": "4 Stunden", "ru": "4 ????" },
        "8 hours": { "en": "8 hours", "de": "8 Stunden", "ru": "8 ?????" },
        "12 hours": { "en": "12 hours", "de": "12 Stunden", "ru": "12 ?????" },
        "24 hours": { "en": "24 hours", "de": "24 Stunden", "ru": "24 ????" },
        "time_interval": { "en": "Time interval", "de": "Zeitintervall", "ru": "????????" },
        "withxaxix": { "en": "show X axis", "de": "zeige X-Achse", "ru": "???" },
        "ebusinstance": { "en": "ebus instance", "de": "ebus Instanz", "ru": "???" },

        "xDateFormat": { "en": "format for date/time on x-axis", "de": "Datum-/Zeitformat X-Achse", "ru": "???" },

        "withborder": { "en": "show border", "de": "Rahmen anzeigen", "ru": "withborder" },
        "nobgcolor": { "en": "no background color", "de": "keine Farbe Hintergrund", "ru": "nobgcolor" },
        "withlegend": { "en": "show legend", "de": "mit Legende", "ru": "withlegend" },
        "legendposition": { "en": "legend position", "de": "Legendenposition", "ru": "legendposition" },

        "charttypeline": { "en": "line", "de": "Linie", "ru": "charttypeline" },
        "charttypebar": { "en": "bar", "de": "Balken", "ru": "charttypebar" },
        "none": { "en": "none", "de": "kein", "ru": "none" },
        "kWh": { "en": "kWh", "de": "kWh", "ru": "kWh" },
        "degree": { "en": "degree", "de": "Grad", "ru": "degree" },
        
        "group_graph1": { "en": "graph 1", "de": "Graph 1", "ru": "group_graph1" },

        "graph1charttype": { "en": "chart type", "de": "Grafiktyp", "ru": "graph1charttype" },
        "graph1visible": { "en": "visible", "de": "sichtbar", "ru": "graph1visible" },
        "graph1color": { "en": "color", "de": "Farbe", "ru": "graph1color" },
        "graph1withyaxix": { "en": "with Y axix", "de": "mit Y Achse", "ru": "graph1withyaxix" },
        "graph1YAxisFomat": { "en": "Y axis fomat", "de": "A-Achsenformat", "ru": "graph1YAxisFomat" },

        "group_graph2": { "en": "graph 2", "de": "Graph 2", "ru": "group_graph2" },
        "graph2charttype": { "en": "chart type", "de": "Grafiktyp", "ru": "graph1charttype" },
        "graph2visible": { "en": "visible", "de": "sichtbar", "ru": "graph1visible" },
        "graph2color": { "en": "color", "de": "Farbe", "ru": "graph1color" },
        "graph2withyaxix": { "en": "with Y axix", "de": "mit Y Achse", "ru": "graph1withyaxix" },
        "graph2YAxisFomat": { "en": "Y axis fomat", "de": "A-Achsenformat", "ru": "graph1YAxisFomat" },

        "group_graph3": { "en": "graph 3", "de": "Graph 3", "ru": "group_graph3" },
        "graph3charttype": { "en": "chart type", "de": "Grafiktyp", "ru": "graph1charttype" },
        "graph3visible": { "en": "visible", "de": "sichtbar", "ru": "graph1visible" },
        "graph3color": { "en": "color", "de": "Farbe", "ru": "graph1color" },
        "graph3withyaxix": { "en": "with Y axix", "de": "mit Y Achse", "ru": "graph1withyaxix" },
        "graph3YAxisFomat": { "en": "Y axis fomat", "de": "A-Achsenformat", "ru": "graph1YAxisFomat" },

        "group_graph4": { "en": "graph 4", "de": "Graph 4", "ru": "group_graph4" },
        "graph4charttype": { "en": "chart type", "de": "Grafiktyp", "ru": "graph1charttype" },
        "graph4visible": { "en": "visible", "de": "sichtbar", "ru": "graph1visible" },
        "graph4color": { "en": "color", "de": "Farbe", "ru": "graph1color" },
        "graph4withyaxix": { "en": "with Y axix", "de": "mit Y Achse", "ru": "graph1withyaxix" },
        "graph4YAxisFomat": { "en": "Y axis fomat", "de": "A-Achsenformat", "ru": "graph1YAxisFomat" },

        "oid_historygraph1": { "en": "OID", "de": "OID", "ru": "oid_historygraph1" },
        "oid_historygraph2": { "en": "OID", "de": "OID", "ru": "oid_historygraph2" },
        "oid_historygraph3": { "en": "OID", "de": "OID", "ru": "oid_historygraph3" },
        "oid_historygraph4": { "en": "OID", "de": "OID", "ru": "oid_historygraph4" },
        "oid_historydate": { "en": "OID date", "de": "OID", "ru": "oid_historydate" },

        "graph1Name": { "en": "Name", "de": "Name", "ru": "graph1Name" },
        "graph2Name": { "en": "Name", "de": "Name", "ru": "graph2Name" },
        "graph3Name": { "en": "Name", "de": "Name", "ru": "graph3Name" },
        "graph4Name": { "en": "Name", "de": "Name", "ru": "graph4Name" },

    });

    function noneFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals);
    }

    function degreeFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals) + "°C";
    }

    function xwhFormatter(val, axis) {
        if (val > 1000000)
            return (val / 1000000).toFixed(axis.tickDecimals) + " MWh";
        else if (val > 1000)
            return (val / 1000).toFixed(axis.tickDecimals) + " kWh";
        else
            return val.toFixed(axis.tickDecimals) + " Wh";
    }
    function xwFormatter(val, axis) {
        if (val > 1000000)
            return (val / 1000000).toFixed(axis.tickDecimals) + " MW";
        else if (val > 1000)
            return (val / 1000).toFixed(axis.tickDecimals) + " kW";
        else
            return val.toFixed(axis.tickDecimals) + " W";
    }

    function legendformater(label, series) {

        //wenn keine Daten, dann ausblenden ->  (return null)
        if (series.data == null || typeof series.data == "undefined" || typeof series.data[0] == "undefined") {
            return null;
        }
        else {
            return label;
        }
    }


    // this code can be placed directly in template.html
    vis.binds.ebus = {
        version: "0.5.0",
        showVersion: function () {
            if (vis.binds.ebus.version) {
                console.log('Version ebus: ' + vis.binds.ebus.version);
                vis.binds.ebus.version = null;
            }
        },
        setup: {
            intervals: {
                '1 second': 1000,
                '10 seconds': 10000,
                '30 seconds': 30000,
                '1 minute': 60000,
                '2 minutes': 120000,
                '5 minutes': 300000,
                '10 minutes': 600000,
                '30 minutes': 1800000,
                '1 hour': 3600000,
                '2 hours': 7200000,
                '4 hours': 14400000,
                '8 hours': 28800000,
                '12 hours': 43200000,
                '24 hours': 86400000
            },

        },
        history: {
            update: function ($div, view) {
                var data = $div.data('options');
                
                if (!data.ebusinstance) {
                    console.log("keine instanz " + data.chartType);

                    $div.html("<br> <center> <font color='red'> no instance </font> </center></br>");
                } else {
                    //warum wir das brauchen, verstehe ich noch nicht...
                    //ist eigentlich nur dummy... aber ohne wird plot ganz klein dargestellt ???
                    vis.getHistory(data.oid, {
                        instance: data.ebusinstance,
                        count: 10,
                        aggregate: 'average',
                        start: new Date().getTime(),
                        end: new Date().getTime() + 5000,
                        timeout: 1000
                    }, function (err, result) {
                        var data = $div.data('options');
                        if (err) console.log(err);

                        console.log("ShowChart begin");

                        var widgetID = $div[0].parentElement.id;

                        

                        //parse data
                        var oid_historydate = data.oid_historydate;
                        var oid_historygraph1 = data.oid_historygraph1;
                        var oid_historygraph2 = data.oid_historygraph2;
                        var oid_historygraph3 = data.oid_historygraph3;
                        var oid_historygraph4 = data.oid_historygraph4;
                        try {
                            var data_date = JSON.parse(vis.states[oid_historydate + '.val']);
                            var data_value1=null;
                            if (oid_historygraph1 != "") {
                                data_value1 = JSON.parse(vis.states[oid_historygraph1 + '.val']);
                            }
                            data_value2 = null;
                            if (oid_historygraph2 != "") {
                                var data_value2 = JSON.parse(vis.states[oid_historygraph2 + '.val']);
                            }
                            data_value3 = null;
                            if (oid_historygraph3 != "") {
                                var data_value3 = JSON.parse(vis.states[oid_historygraph3 + '.val']);
                            }
                            data_value4 = null;
                            if (oid_historygraph4 != "") {
                                var data_value4 = JSON.parse(vis.states[oid_historygraph4 + '.val']);
                            }
                        } catch (e) {
                            console.warn('parse error [' + e + ']');
                            $div.html("<br> <center> <font color='red'>no data available yet </font> </center></br>");
                            return;
                        }

                        if (typeof data_date == "undefined" || data_date.length < 1) {
                            $div.html("<br> <center> <font color='red'>no data available yet </font> </center></br>");
                            return;
                        }

                        var values_graph1 = [];
                        var maxY_graph = [-99, -99, -99, -99];
                        var minY_graph = [999999, 999999, 999999, 999999];

                        var values_graph2 = [];


                        var values_graph3 = [];


                        var values_graph4 = [];

                            //since all datpoints should have the same length we use date datapoint as master
                        for (var i = 0; i < data_date.length; i++) {
                            try {
                                var oValDate = data_date[i];

                                var sDate = oValDate[0]["date"];
                                var sTime = oValDate[0]["time"];

                                var DateArray = sDate.split(".");
                                var TimeArray = sTime.split(":");
                                var hour = TimeArray[0];
                                var minute = TimeArray[1];
                                var day = DateArray[0];
                                var month = DateArray[1];
                                var year = DateArray[2];

                                var oDate = new Date();
                                oDate.setHours(hour);
                                oDate.setMinutes(minute);
                                oDate.setDate(day);
                                oDate.setMonth(month - 1);
                                oDate.setYear(year);

                                var oValGraph1 = null;
                                if (data_value1 != null) {
                                    oValGraph1 = data_value1[i];
                                }
                                var oValGraph2 = null;
                                if (data_value2 != null) {
                                    var oValGraph2 = data_value2[i];
                                }
                                var oValGraph3 = null;
                                if (data_value3 != null) {
                                    var oValGraph3 = data_value3[i];
                                }
                                var oValGraph4 = null;
                                if (data_value4 != null) {
                                    var oValGraph4 = data_value4[i];
                                }
                                var sVal = oValGraph1;
                                if (sVal!=null && typeof sVal != "undefined") {
                                    var names = Object.keys(sVal[0]);
                                    var sValGraph1 = sVal[0][names[0]];
                                    //console.log("graph1 " + sDate + " " + sTime + ": " + sValGraph1);
                                    console.log("graph1 " + oDate.toISOString() + " "  + sValGraph1);
                                    values_graph1.push([oDate, sValGraph1]);

                                    if (sValGraph1 > maxY_graph[0]) maxY_graph[0] = sValGraph1;
                                    if (sValGraph1 < minY_graph[0]) minY_graph[0] = sValGraph1;

                                    if (vis.editMode) {
                                        if (vis.views[view].widgets[widgetID].data.graph1Name == "") {
                                            vis.views[view].widgets[widgetID].data.graph1Name = names[0];
                                            vis.widgets[widgetID].data.graph1Name = names[0];
                                        }
                                    }
                                    
                                }

                                sVal = oValGraph2;
                                if (sVal != null && typeof sVal != "undefined") {
                                    var names = Object.keys(sVal[0]);
                                    var sValGraph2 = sVal[0][names[0]];
                                    //console.log("graph2 " + sDate + " " + sTime + ": " + sValGraph2);
                                    console.log("graph2 " + oDate.toISOString() + " "  + sValGraph2);
                                    values_graph2.push([oDate, sValGraph2]);

                                    if (sValGraph2 > maxY_graph[1]) maxY_graph[1] = sValGraph2;
                                    if (sValGraph2 < minY_graph[1]) minY_graph[1] = sValGraph2;

                                    if (vis.editMode) {
                                        if (vis.views[view].widgets[widgetID].data.graph2Name == "") {
                                            vis.views[view].widgets[widgetID].data.graph2Name = names[0];
                                            vis.widgets[widgetID].data.graph2Name = names[0];
                                        }
                                    }
                                }

                                sVal = oValGraph3;
                                if (sVal != null && typeof sVal != "undefined") {
                                    var names = Object.keys(sVal[0]);
                                    var sValGraph3 = sVal[0][names[0]];
                                    //console.log("graph3 " + sDate + " " + sTime + ": " + sValGraph3);
                                    console.log("graph3 " + oDate.toISOString() + " "  + sValGraph3);
                                    values_graph3.push([oDate, sValGraph3]);

                                    if (sValGraph3 > maxY_graph[2]) maxY_graph[2] = sValGraph3;
                                    if (sValGraph3 < minY_graph[2]) minY_graph[2] = sValGraph3;

                                    if (vis.editMode) {
                                        if (vis.views[view].widgets[widgetID].data.graph3Name == "") {
                                            vis.views[view].widgets[widgetID].data.graph3Name = names[0];
                                            vis.widgets[widgetID].data.graph3Name = names[0];
                                        }
                                    }
                                }

                                sVal = oValGraph4;
                                if (sVal != null && typeof sVal != "undefined") {
                                    var names = Object.keys(sVal[0]);
                                    var sValGraph4 = sVal[0][names[0]];
                                    //console.log("graph4 " + sDate + " " + sTime + ": " + sValGraph4);
                                    console.log("graph4 " + oDate.toISOString() + " " + sValGraph4);
                                    values_graph4.push([oDate, sValGraph4]);

                                    if (sValGraph4 > maxY_graph[3]) maxY_graph[3] = sValGraph4;
                                    if (sValGraph4 < minY_graph[3]) minY_graph[3] = sValGraph4;

                                    
                                    if (vis.editMode) {
                                        if (vis.views[view].widgets[widgetID].data.graph4Name == "") {
                                            vis.views[view].widgets[widgetID].data.graph4Name = names[0];
                                            vis.widgets[widgetID].data.graph4Name = names[0];
                                        }
                                    }
                                }

                            }
                            catch (e) {
                                console.warn('parse error [' + e + ']');
                                $div.html("<br> <center> <font color='red'>data parse error </font> </center></br>");
                                return;
                            }
                        }


                        for (var n = 0; n < 4; n++) {

                            console.log("****** before Graph" + n + " max " + maxY_graph[n] + " min " + minY_graph[n]);

                            var nTemp = parseFloat(maxY_graph[n]);
                            //console.log(nTemp);
                            nTemp = nTemp + 1;
                            //console.log(nTemp);
                            nTemp = nTemp / 10;
                            //console.log(nTemp);
                            maxY_graph[n] = Math.ceil(nTemp) * 10;
                            if (minY_graph[n] >= 0 && minY_graph[n] < 1000) { //only for temperature and pressure values
                                minY_graph[n] = 0;
                            }
                            else if (minY_graph[n] < 0) {
                                var temp1 = Math.abs(minY_graph[n]);

                                minY_graph[n] = Math.ceil((temp1 + 1) / 10) * 10;
                                minY_graph[n] = -1.0 * minY_graph[n];
                            }
                            else {
                                nTemp = parseFloat(minY_graph[n]);
                                //console.log(nTemp);
                                nTemp = nTemp + 1;
                                //console.log(nTemp);
                                nTemp = nTemp / 10;
                                //console.log(nTemp);
                                minY_graph[n] = Math.ceil(nTemp) * 10;
                            }
                            console.log("****** after Graph" + n + "max " + maxY_graph[n] + " min " + minY_graph[n]);
                        }

                        var barwidth = 1000 * 60 * 5; //5 Minuten

                        var Graph1Formatter = noneFormatter;
                        switch (data.graph1YAxisFomat) {
                            case "kWh":
                                Graph1Formatter = xwhFormatter;
                                console.log("kWh format");
                                break;
                            case "kW":
                                Graph1Formatter = xwFormatter;
                                console.log("kW format");
                                break;
                            case "degree":
                                Graph1Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph1YAxisFomat);
                                break;

                        }

                        var Graph2Formatter = noneFormatter;
                        switch (data.graph2YAxisFomat) {
                            case "kWh":
                                Graph2Formatter = xwhFormatter;
                                console.log("kWh format");
                                break;
                            case "kW":
                                Graph2Formatter = xwFormatter;
                                console.log("kW format");
                                break;
                            case "degree":
                                Graph2Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph2YAxisFomat);
                                break;

                        }

                        var Graph3Formatter = noneFormatter;
                        switch (data.graph3YAxisFomat) {
                            case "kWh":
                                Graph3Formatter = xwhFormatter;
                                console.log("kWh format");
                                break;
                            case "kW":
                                Graph3Formatter = xwFormatter;
                                console.log("kW format");
                                break;

                            case "degree":
                                Graph3Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph3YAxisFomat);
                                break;

                        }

                        var Graph4Formatter = noneFormatter;
                        switch (data.graph4YAxisFomat) {
                            case "kWh":
                                Graph4Formatter = xwhFormatter;
                                console.log("kWh format");
                                break;
                            case "kW":
                                Graph4Formatter = xwFormatter;
                                console.log("kW format");
                                break; 
                            case "degree":
                                Graph4Formatter = degreeFormatter;
                                console.log("degree format");
                                break;
                            default:
                                console.log("unknown format " + data.graph4YAxisFomat);
                                break;

                        }


                        $.plot($div,
                            [
                                {
                                    data: data.graph1visible ? values_graph1 : {},
                                    color: data.graph1color,
                                    label: data.graph1Name,
                                    xaxis: 1,
                                    yaxis: 1,
                                    lines: { show: data.graph1charttype =="charttypeline" },
                                    bars:
                                    {
                                        show: data.graph1charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph2visible ? values_graph2 : {},
                                    color: data.graph2color,
                                    label: data.graph2Name,
                                    xaxis: 1,
                                    yaxis: 2,
                                    lines: { show: data.graph2charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph2charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph3visible ? values_graph3 : {},
                                    color: data.graph3color,
                                    label: data.graph3Name,
                                    xaxis: 1,
                                    yaxis: 3,
                                    lines: { show: data.graph3charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph3charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.graph4visible ? values_graph4 : {},
                                    color: data.graph4color,
                                    label: data.graph4Name,
                                    xaxis: 1,
                                    yaxis: 4,
                                    lines: { show: data.graph4charttype == "charttypeline" },
                                    bars:
                                    {
                                        show: data.graph4charttype == "charttypebar",
                                        barWidth: barwidth
                                    }
                                }


                            ],
                            {

                                xaxes:
                                [
                                    {
                                        show: data.withxaxix,
                                        mode: "time",
                                        tickLength: 5,
                                        ticks: data.ticksonxaxix > 0 ? parseInt(data.ticksonxaxix, 10) : 5,
                                        timeformat: data.xDateFormat, //"%H:%M",
                                        monthNames: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
                                        color: data.tickscolor,
                                        font: {
                                            color: data.axislabelcolor
                                        },
                                        timezone: "browser"
                                    }

                                ],
                                yaxes:
                                [
                                    {
                                        show: data.graph1visible && data.graph1withyaxix,
                                        max: maxY_graph[0],
                                        min: minY_graph[0],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph1color
                                        },
                                        tickFormatter: Graph1Formatter
                                    },
                                    {
                                        show: data.graph2visible && data.graph2withyaxix,
                                        max: maxY_graph[1],
                                        min: minY_graph[1],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph2color
                                        },
                                        tickFormatter: Graph2Formatter
                                    },
                                    {
                                        show: data.graph3visible && data.graph3withyaxix,
                                        max: maxY_graph[2],
                                        min: minY_graph[2],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph3color
                                        },
                                        tickFormatter: Graph3Formatter
                                    },
                                    {
                                        show: data.graph4visible && data.graph4withyaxix,
                                        max: maxY_graph[3],
                                        min: minY_graph[3],
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.graph4color
                                        },
                                        tickFormatter: Graph4Formatter
                                    }
                                    

                                ],
                                grid:
                                {
                                    //Farben einstellen fehlt noch
                                    backgroundColor: data.nobgcolor ? null : { colors: ["#fff", "#eee"] },
                                    borderWidth: {
                                        top: data.withborder ? 1 : 0,
                                        right: data.withborder ? 1 : 0,
                                        bottom: data.withborder ? 2 : 0,
                                        left: data.withborder ? 2 : 0
                                    },
                                    //fehlt noch
                                    //markings: nextDay
                                },
                                legend: {
                                    show: data.withlegend,
                                    labelFormatter: legendformater,
                                    //labelBoxBorderColor: color,
                                    //noColumns: number,
                                    position: data.legendposition,
                                    //margin: number of pixels or [x margin, y margin]
                                    backgroundColor: null,
                                    backgroundOpacity: 0,
                                    container: null,
                                    sorted: false
                                }
                            }
                        );


                    }); //GetHistory
                }
            },
            init: function (el, view, data) {
                var $div = $(el);
                var oView = view;
                console.log("ebus init");
                var _data = {};
                for (var s in data) {

                    if (s[0] !== '_' && data.hasOwnProperty(s) && typeof data[s] !== 'object' && typeof data[s] !== 'function') {
                        _data[s] = data[s];

                    }
                }
                data = null;
                $div.data('options', _data);

                if (_data.ebusinstance) {

                    //bind to oid to be informed about updates
                    var oid_historydate = _data.oid_historydate;
                    console.log("bind " + oid_historydate);
                    vis.states.bind(oid_historydate + '.val', function () {
                        vis.binds.ebus.history.update($div, oView);
                    });

                    var oid_historygraph1 = _data.oid_historygraph1;
                    console.log("bind " + oid_historygraph1);
                    vis.states.bind(oid_historygraph1 + '.val', function () {
                        vis.binds.ebus.history.update($div, oView);
                    });
                    var oid_historygraph2 = _data.oid_historygraph2;
                    console.log("bind " + oid_historygraph2);
                    vis.states.bind(oid_historygraph2 + '.val', function () {
                        vis.binds.ebus.history.update($div, oView);
                    });
                    var oid_historygraph3 = _data.oid_historygraph3;
                    console.log("bind " + oid_historygraph3);
                    vis.states.bind(oid_historygraph3 + '.val', function () {
                        vis.binds.ebus.history.update($div, oView);
                    });
                    var oid_historygraph4 = _data.oid_historygraph4;
                    console.log("bind " + oid_historygraph4);
                    vis.states.bind(oid_historygraph4 + '.val', function () {
                        vis.binds.ebus.history.update($div, oView);
                    });
                    // update every x seconds
                    if (!vis.editMode) {
                        $div.data('timer', setInterval(function () {
                            vis.binds.ebus.history.update($div, oView);
                        }, parseInt(vis.binds.ebus.setup.intervals[_data.time_interval] / (parseInt(_data.points, 10) || 10), 10)));
                    }

                }
                else {
                    console.log("instance not set ");
                }
                vis.binds.ebus.history.update($div, oView);
                if (vis.editMode) {
                    console.log("flot version " + $.plot.version + " for ebus" );
                }
            },
        },


    };

    if (vis.editMode) {
        vis.binds.ebus.onInstanceChanged = function (widgetID, view, newId, fields) {
            console.log('---------: ' + widgetID + ' - ' + view + ' - ' + newId + ' - ' + fields);

            var changed = [];
            //delete all
            vis.views[view].widgets[widgetID].data.oid_historydate = "";
            vis.views[view].widgets[widgetID].data.oid_historygraph1 = "";
            vis.views[view].widgets[widgetID].data.oid_historygraph2 = "";
            vis.views[view].widgets[widgetID].data.oid_historygraph3 = "";
            vis.views[view].widgets[widgetID].data.oid_historygraph4 = "";
            //then copy new values
            if (newId.indexOf("ebus") > -1) {

                //ebus.0.data.history
                console.log('calc new oids');
                vis.views[view].widgets[widgetID].data.oid_historydate = newId + ".history.date";
                vis.widgets[widgetID].data.oid_historydate = newId + ".history.date";

                vis.views[view].widgets[widgetID].data.oid_historygraph1 = newId + ".history.value1";
                vis.widgets[widgetID].data.oid_historygraph1 = newId + ".history.value1";

                vis.views[view].widgets[widgetID].data.oid_historygraph2 = newId + ".history.value2";
                vis.widgets[widgetID].data.oid_historygraph2 = newId + ".history.value2";

                vis.views[view].widgets[widgetID].data.oid_historygraph3 = newId + ".history.value3";
                vis.widgets[widgetID].data.oid_historygraph3 = newId + ".history.value3";

                vis.views[view].widgets[widgetID].data.oid_historygraph4 = newId + ".history.value4";
                vis.widgets[widgetID].data.oid_historygraph4 = newId + ".history.value4";

                

            }

            return changed;
        }

    }

    vis.binds.ebus.showVersion();

</script>

<script id="tplEbusShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/ebus/img/Prev_tplebus.png"></img>'
        data-vis-set="ebus"
        data-vis-type="ebus"
        data-vis-name="ebus"
        data-vis-update-style="true"
        data-vis-attrs="ebusinstance/ebus/onInstanceChanged;"
        data-vis-attrs0="time_interval[30 minutes]/select,1 second,10 seconds,30 seconds,1 minute,2 minutes,5 minutes,10 minutes,30 minutes,1 hour,2 hours,4 hours,8 hours,12 hours,24 hours;withxaxix[true]/checkbox;ticksonxaxix[5];axislabelcolor[#ffffff]/color;tickscolor[#ffffff]/color;xDateFormat[%H:%M];withborder[true]/checkbox;nobgcolor[true]/checkbox;withlegend[false]/checkbox;legendposition[ne]/select,ne,nw,se,sw;"
        data-vis-attrs1="group.graph1;oid_historygraph1/id;graph1Name;graph1charttype[charttypeline]/select,charttypeline,charttypebar;graph1visible[true]/checkbox;graph1color[#f1f113]/color;graph1withyaxix[true]/checkbox;graph1YAxisFomat[none]/select,none,kWh,kW,degree;"
        data-vis-attrs2="group.graph2;oid_historygraph2/id;graph2Name;graph2charttype[charttypeline]/select,charttypeline,charttypebar;graph2visible[true]/checkbox;graph2color[#f1f113]/color;graph2withyaxix[true]/checkbox;graph2YAxisFomat[none]/select,none,kWh,kW,degree;"
        data-vis-attrs3="group.graph3;oid_historygraph3/id;graph3Name;graph3charttype[charttypeline]/select,charttypeline,charttypebar;graph3visible[true]/checkbox;graph3color[#f1f113]/color;graph3withyaxix[true]/checkbox;graph3YAxisFomat[none]/select,none,kWh,kW,degree;"
        data-vis-attrs4="group.graph4;oid_historygraph4/id;graph4Name;graph4charttype[charttypeline]/select,charttypeline,charttypebar;graph4visible[true]/checkbox;graph4color[#f1f113]/color;graph4withyaxix[true]/checkbox;graph4YAxisFomat[none]/select,none,kWh,kW,degree;"
        data-vis-attrs5="group.oids;oid_historydate/id;">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:210px; height:170px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el1) -> vis.binds.ebus.history.init(el1, this.view, this.data) %>></div>
    </div>
</script>


