<!--
    ioBroker.vis myhomecontrol_ebus Widget-Set

    version: "0.1.1"

    Copyright 2017 René G. info@rg-engineering.eu
-->
<!-- here you can include so many css as you want -->
<!--<link rel="stylesheet" href="widgets/ebus/css/style.css" /> -->
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/myhomecontrol_ebus/lib/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="widgets/myhomecontrol_ebus/lib/js/flot/jquery.flot.time.js"></script>



<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39
-->
<!-- doku for flot : -->
<!--  https://github.com/flot/flot/blob/master/API.md -->

<script type="text/javascript">
    "use strict";



    // add translations for non-edit mode
    $.extend(true, systemDictionary, {
        "ebus": { "en": "ebus", "de": "ebus", "ru": "ebus" },
        "1 second": { "en": "1 second", "de": "1 Sekunde", "ru": "1 ???????" },
        "10 seconds": { "en": "10 seconds", "de": "10 Sekunden", "ru": "10 ??????" },
        "30 seconds": { "en": "30 seconds", "de": "30 Sekunden", "ru": "30 ??????" },
        "1 minute": { "en": "1 minute", "de": "1 Minute", "ru": "1 ??????" },
        "2 minutes": { "en": "2 minutes", "de": "2 Minuten", "ru": "2 ??????" },
        "5 minutes": { "en": "5 minutes", "de": "5 Minuten", "ru": "5 ?????" },
        "10 minutes": { "en": "10 minutes", "de": "10 Minuten", "ru": "10 ?????" },
        "30 minutes": { "en": "30 minutes", "de": "30 Minuten", "ru": "30 ?????" },
        "1 hour": { "en": "1 hour", "de": "1 Stunde", "ru": "1 ???" },
        "2 hours": { "en": "2 hours", "de": "2 Stunden", "ru": "2 ????" },
        "4 hours": { "en": "4 hours", "de": "4 Stunden", "ru": "4 ????" },
        "8 hours": { "en": "8 hours", "de": "8 Stunden", "ru": "8 ?????" },
        "12 hours": { "en": "12 hours", "de": "12 Stunden", "ru": "12 ?????" },
        "24 hours": { "en": "24 hours", "de": "24 Stunden", "ru": "24 ????" },
        "time_interval": { "en": "Time interval", "de": "Zeitintervall", "ru": "????????" },
        "withxaxix": { "en": "show X axis", "de": "zeige X-Achse", "ru": "???" },
        "ebusinstance": { "en": "ebus instance", "de": "ebus Instanz", "ru": "???" },
        "group_vorlauftemp": { "en": "group_vorlauftemp", "de": "Vorlauftemperatur", "ru": "???" },
        "vorlauftempvisible": { "en": "visible", "de": "sichtbar", "ru": "???" },
        "vorlauftempcolor": { "en": "color", "de": "Farbe", "ru": "???" },
        "group_quelletemp": { "en": "group_quelletemp", "de": "Qellentemperatur", "ru": "???" },
        "quelletempvisible": { "en": "visible", "de": "sichtbar", "ru": "???" },
        "quelletempcolor": { "en": "color", "de": "Farbe", "ru": "???" },
        "group_heizleistung": { "en": "group_heizleistung", "de": "Heizleistung", "ru": "???" },
        "heizleistungvisible": { "en": "visible", "de": "sichtbar", "ru": "???" },
        "heizleistungcolor": { "en": "color", "de": "Farbe", "ru": "???" },
        "group_status": { "en": "group_status", "de": "Heizstatus", "ru": "???" },
        "statusvisible": { "en": "visible", "de": "sichtbar", "ru": "???" },
        "statuscolor": { "en": "color", "de": "Farbe", "ru": "???" },
        "oid_history": { "en": "OID history", "de": "OID history", "ru": "???" },

        "vorlauftempwithyaxix": { "en": "with Y axis", "de": "zeige Y-Achse", "ru": "vorlauftempwithyaxix" },
        "quelltempwithyaxix": { "en": "with Y axis", "de": "zeige Y-Achse", "ru": "quelltempwithyaxix" },
        "heizleistungwithyaxix": { "en": "with Y axis", "de": "zeige Y-Achse", "ru": "heizleistungwithyaxix" },
        "statuswithyaxix": { "en": "with Y axis", "de": "zeige Y-Achse", "ru": "statuswithyaxix" },

    });

    function degreeFormatter(v, axis) {
        return v.toFixed(axis.tickDecimals) + "°C";
    }


    // this code can be placed directly in template.html
    vis.binds.myhomecontrol_ebus = {
        version: "0.1.1",
        showVersion: function () {
            if (vis.binds.myhomecontrol_ebus.version) {
                console.log('Version ebus: ' + vis.binds.myhomecontrol_ebus.version);
                vis.binds.myhomecontrol_ebus.version = null;
            }
        },
        setup: {
            intervals: {
                '1 second': 1000,
                '10 seconds': 10000,
                '30 seconds': 30000,
                '1 minute': 60000,
                '2 minutes': 120000,
                '5 minutes': 300000,
                '10 minutes': 600000,
                '30 minutes': 1800000,
                '1 hour': 3600000,
                '2 hours': 7200000,
                '4 hours': 14400000,
                '8 hours': 28800000,
                '12 hours': 43200000,
                '24 hours': 86400000
            },

        },
        history: {
            update: function ($div) {
                var data = $div.data('options');

                if (!data.ebusinstance) {
                    console.log("keine instanz " + data.chartType);

                    $div.html("<br> <center> <font color='red'> no instance </font> </center></br>");
                } else {
                    //warum wir das brauchen, verstehe ich noch nicht...
                    //ist eigentlich nur dummy... aber ohne wird plot ganz klein dargestellt ???
                    vis.getHistory(data.oid, {
                        instance: data.ebusinstance,
                        count: 10,
                        aggregate: 'average',
                        start: new Date().getTime(),
                        end: new Date().getTime() + 5000,
                        timeout: 1000
                    }, function (err, result) {
                        var data = $div.data('options');
                        if (err) console.log(err);

                        console.log("ShowChart begin");

                        //parse data
                        var oid_history = data.oid_history;
                        var all_data = JSON.parse(vis.states[oid_history + '.val']);

                        var values_vorlauftemp = [];
                        var values_quelletemp = [];
                        var values_heizleistung = [];
                        var values_status = [];
                        var values_date = [];
                        var values_time = [];
                        var maxY_VorlaufTemp = -99;
                        var minY_VorlaufTemp = 99;
                        var maxY_QuellTemp = -99;
                        var minY_QuellTemp = 99;

                        for (var i = 0; i < all_data.length; i++) {

                            var oVals = all_data[i];

                            var vorlauftemp = parseFloat(oVals["TempVorlauf"]);
                            var quelltemp = parseFloat(oVals["TempQuelle"]);
                            var heizleistung = parseFloat(oVals["HeizLeistung"]);
                            var status = oVals["Status"];
                            var sDate = oVals["date"];
                            var sTime = oVals["time"];

                            var DateArray = sDate.split(".");
                            var TimeArray = sTime.split(":");
                            var hour = TimeArray[0];
                            var minute = TimeArray[1];
                            var day = DateArray[0];
                            var month = DateArray[1];
                            var year = DateArray[2];

                            //console.log("data " + vorlauftemp + " " + sDate + " " + sTime);
                            //data 25.37 31.12.2017 14:07:00

                            var nstatus;
                            switch (status) {
                                case "Warmwasser": nstatus = 3; break;
                                case "Heizen": nstatus = 2; break;
                                case "Bereitschaft": nstatus = 1; break;
                                default:
                                    console.log("unknown " + status);
                                    nstatus = 0;
                                    break;
                            }

                            var oDate = new Date();
                            oDate.setHours(hour);
                            oDate.setMinutes(minute);
                            oDate.setDate(day);
                            oDate.setMonth(month);
                            oDate.setYear(year);

                            values_vorlauftemp.push([oDate, vorlauftemp]);
                            values_quelletemp.push([oDate, quelltemp]);
                            values_heizleistung.push([oDate, heizleistung]);
                            values_status.push([oDate, nstatus]);

                            if (vorlauftemp > maxY_VorlaufTemp) maxY_VorlaufTemp = vorlauftemp;
                            if (vorlauftemp < minY_VorlaufTemp) minY_VorlaufTemp = vorlauftemp;


                            if (quelltemp > maxY_QuellTemp) maxY_QuellTemp = quelltemp;
                            if (quelltemp < minY_QuellTemp) minY_QuellTemp = quelltemp;

                        }

                        maxY_VorlaufTemp = Math.ceil((maxY_VorlaufTemp + 1) / 10) * 10;
                        if (minY_VorlaufTemp > 0) {
                            minY_VorlaufTemp = 0;
                        }
                        else {
                            var temp1 = Math.abs(minY_VorlaufTemp);

                            minY_VorlaufTemp = Math.ceil((temp1 + 1) / 10) * 10;
                            minY_VorlaufTemp = -1.0 * minY_VorlaufTemp;
                        }

                        maxY_QuellTemp = Math.ceil((maxY_QuellTemp + 1) / 10) * 10;
                        if (minY_QuellTemp > 0) {
                            minY_QuellTemp = 0;
                        }
                        else {
                            var temp1 = Math.abs(minY_QuellTemp);

                            minY_QuellTemp = Math.ceil((temp1 + 1) / 10) * 10;
                            minY_QuellTemp = -1.0 * minY_QuellTemp;
                        }

                        var barwidth = 1000 * 60 * 5; //5 Minuten

                        $.plot($div,
                            [
                                {
                                    data: data.vorlauftempvisible ? values_vorlauftemp : {},
                                    color: data.vorlauftempcolor,

                                    xaxis: 1,
                                    yaxis: 1,
                                    lines: { show: true },
                                    bars:
                                    {
                                        show: false,
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.quelletempvisible ? values_quelletemp : {},
                                    color: data.quelletempcolor,

                                    xaxis: 1,
                                    yaxis: 2,
                                    lines: { show: true },
                                    bars:
                                    {
                                        show: false,
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.heizleistungvisible ? values_heizleistung : {},
                                    color: data.heizleistungcolor,

                                    xaxis: 1,
                                    yaxis: 3,
                                    lines: { show: false },
                                    bars:
                                    {
                                        show: true,
                                        barWidth: barwidth
                                    }
                                },
                                {
                                    data: data.statusvisible ? values_status : {},
                                    color: data.statuscolor,

                                    xaxis: 1,
                                    yaxis: 4,
                                    lines: { show: false },
                                    bars:
                                    {
                                        show: true,
                                        barWidth: barwidth
                                    }
                                }


                            ],
                            {

                                xaxes:
                                [
                                    {
                                        show: data.withxaxix,
                                        mode: "time",
                                        tickLength: 5,
                                        ticks: data.ticksonxaxix > 0 ? parseInt(data.ticksonxaxix, 10) : 5,
                                        timeformat: "%H:%M",
                                        monthNames: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
                                        color: data.tickscolor,
                                        font: {
                                            color: data.axislabelcolor
                                        },
                                        timezone: "browser"
                                    }

                                ],
                                yaxes:
                                [
                                    {
                                        show: data.vorlauftempvisible && data.vorlauftempwithyaxix,
                                        max: maxY_VorlaufTemp,
                                        min: minY_VorlaufTemp,
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.vorlauftempcolor
                                        },
                                        tickFormatter: degreeFormatter
                                    },
                                    {
                                        show: data.quelletempvisible && data.quelltempwithyaxix,
                                        max: maxY_QuellTemp,
                                        min: minY_QuellTemp,
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.quelletempcolor
                                        },
                                        tickFormatter: degreeFormatter
                                    },
                                    {
                                        show: data.heizleistungvisible && data.heizleistungwithyaxix,
                                        max: 15,
                                        min: 0,
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.heizleistungcolor
                                        }
                                    },
                                    {
                                        show: data.statusvisible && data.statuswithyaxix,
                                        max: 3,
                                        min: 1,
                                        //alignTicksWithAxis: 1,
                                        position: 'left',
                                        ticks: 3,
                                        color: data.tickscolor,
                                        font: {
                                            color: data.statuscolor
                                        }
                                    }

                                ],
                                grid:
                                {
                                    //Farben einstellen fehlt noch
                                    backgroundColor: { colors: ["#fff", "#eee"] },
                                    borderWidth: {
                                        top: 1,
                                        right: 1,
                                        bottom: 2,
                                        left: 2
                                    },
                                    //fehlt noch
                                    //markings: nextDay
                                }
                            }
                        );


                    }); //GetHistory
                }
            },
            init: function (el, view, data) {
                var $div = $(el);
                console.log("ebus init");
                var _data = {};
                for (var s in data) {

                    if (s[0] !== '_' && data.hasOwnProperty(s) && typeof data[s] !== 'object' && typeof data[s] !== 'function') {
                        _data[s] = data[s];

                    }
                }
                data = null;
                $div.data('options', _data);

                if (_data.ebusinstance) {

                    //bind to oid to be informed about updates
                    var oid_history = _data.oid_history;
                    console.log("bind " + oid_history);
                    vis.states.bind(oid_history + '.val', function () {
                        vis.binds.myhomecontrol_ebus.history.update($div);
                    });

                    // update every x seconds
                    if (!vis.editMode) {
                        $div.data('timer', setInterval(function () {
                            vis.binds.myhomecontrol_ebus.history.update($div);
                        }, parseInt(vis.binds.myhomecontrol_ebus.setup.intervals[_data.time_interval] / (parseInt(_data.points, 10) || 10), 10)));
                    }

                }
                else {
                    console.log("instance not set ");
                }
                vis.binds.myhomecontrol_ebus.history.update($div);
                if (vis.editMode) {
                    console.log("flot version " + $.plot.version);
                }
            },
        },


    };

    if (vis.editMode) {
        vis.binds.myhomecontrol_ebus.onInstanceChanged = function (widgetID, view, newId, fields) {
            console.log('---------: ' + widgetID + ' - ' + view + ' - ' + newId + ' - ' + fields);

            var changed = [];
            //delete all
            vis.views[view].widgets[widgetID].data.oid_history = "";

            //then copy new values
            if (newId.indexOf("myhomecontrol_ebus") > -1) {

                //myhomecontrol_ebus.0.data.history
                console.log('calc new oids');
                vis.views[view].widgets[widgetID].data.oid_history = newId + ".data.history";
                vis.widgets[widgetID].data.oid_hsitory = newId + ".data.history";
            }

            return changed;
        }

    }

    vis.binds.myhomecontrol_ebus.showVersion();

</script>

<script id="tplEbusShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/myhomecontrol_ebus/img/Prev_tplebus.png"></img>'
        data-vis-set="myhomecontrol_ebus"
        data-vis-type="ebus"
        data-vis-name="ebus"
        data-vis-update-style="true"
        data-vis-attrs="ebusinstance/ebus/onInstanceChanged;"
        data-vis-attrs0="time_interval[30 minutes]/select,1 second,10 seconds,30 seconds,1 minute,2 minutes,5 minutes,10 minutes,30 minutes,1 hour,2 hours,4 hours,8 hours,12 hours,24 hours;withxaxix[true]/checkbox;ticksonxaxix[5];axislabelcolor[#ffffff]/color;tickscolor[#ffffff]/color;"
        data-vis-attrs1="group.vorlauftemp;vorlauftempvisible[true]/checkbox;vorlauftempcolor[#f1f113]/color;vorlauftempwithyaxix[true]/checkbox;"
        data-vis-attrs2="group.quelletemp;quelletempvisible[true]/checkbox;quelletempcolor[#f1f113]/color;quelltempwithyaxix[true]/checkbox;"
        data-vis-attrs3="group.heizleistung;heizleistungvisible[true]/checkbox;heizleistungcolor[#f1f113]/color;heizleistungwithyaxix[true]/checkbox;"
        data-vis-attrs4="group.status;statusvisible[true]/checkbox;statuscolor[#f1f113]/color;statuswithyaxix[true]/checkbox;"
        data-vis-attrs5="group.oids;oid_history/id;">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:210px; height:170px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el1) -> vis.binds.myhomecontrol_ebus.history.init(el1, this.view, this.data) %>></div>
    </div>
</script>


